body {
  background-color: cyan;
}

h1 {
	color: black;
    text-align: center;
    font-family: Arial;
    font-size: 35px;
}

h3 {
	color: orange;
    font-family: Georgia;
    font-size: 20px;
}

h2 {
	color: darkblue;
    font-family: Seria;
    font-size: 25px;
}

p {
	color: black;
    font-family: charcoal;
    fontsize: 15px;


